* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eaeaea;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 100px 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.meme {
  width: 480px;
  padding: 28px 20px;

  border-radius: 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: white;

  transition: all 0.3s ease;
}

.meme img {
  width: 100%;
}

.meme:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
